<% layout('/template/adminBoilerplate') -%>
 
                    <div class="container my-5">
                        <h3>Testimonials</h3>
                        <div class="row">
                            <form method="post" action="<%=devFun%>/adminNewTestimonial/<%=uid%>"
                                class="col-12 col-lg-6 my-5">
                                <div class="mb-5">
                                    <label for="exampleFormControlInput1" class="form-label">Name</label>
                                    <input type="text"
                                        class="form-control text-light bg-transparent border-0 border-bottom border-info"
                                        name="name" id="testimonialName" required>
                                </div>
                                <div class="mb-5">
                                    <label for="exampleFormControlTextarea1" class="form-label">Testimonial</label>
                                    <textarea class="form-control text-light bg-transparent border border-info"
                                        name="testimonial" id="testimonialText" rows="10" required></textarea>
                                </div>
                            </form>
                            <div class="col-12 col-lg-6 my-5">
                                <div class="row d-flex justify-content-center testimonialImage"
                                    style="position:relative">
                                    <img src="https://firebasestorage.googleapis.com/v0/b/nubefilmacademysite.appspot.com/o/profilePictures%2FdefaultProfile.png?alt=media&token=35e63948-1c4f-4035-9a42-1a3dd850ab8f"
                                        class="rounded-circle" alt="" id="testimonialImage">
                                    <div class="imgOverlay rounded-circle"></div>
                                    <div class="change"> <label id="btnUpload"> <i class="fas fa-pen"></i>
                                            <input type="file" id='inputUpload' hidden>
                                        </label>

                                    </div>
                                    <!-- <div class="testimonialImage rounded-circle bg-dark w-100 h-75">
                </div> -->
                                </div>
                              
                                <div class="row d-flex justify-content-center mt-5">
                                    <div class="btn btn-info w-50 " id="btnSaveTestimonial">Save and Exit</div>
                                </div>
                                <div class="mt-2 text-center" id="progressBar"></div>
                            </div>
                        </div>
                        <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
                        <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-auth.js"></script>
                        <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-storage.js"></script>
                        <script src="<%=devEnv%>__/firebase/init.js"></script>
                        <script src="https://cdn.jsdelivr.net/npm/uuid@latest/dist/umd/uuidv4.min.js"></script>

                        <script>
                            var storage = firebase.storage();
                            const btnUpload = document.querySelector('#btnUpload')
                            const inputUpload = document.querySelector('#inputUpload')
                            const defaultPicURL = 'https://firebasestorage.googleapis.com/v0/b/nubefilmacademysite.appspot.com/o/profilePictures%2FdefaultProfile.png?alt=media&token=35e63948-1c4f-4035-9a42-1a3dd850ab8f'

                            btnUpload.addEventListener('change', () => {
                                const testiImage = document.querySelector('#testimonialImage')
                                testiImage.src = URL.createObjectURL(inputUpload.files[0])
                            })

                            const imageName = uuidv4()
                            async function uploadImage(imagesRef) {
                                    const file = inputUpload.files[0]
                                    if(file)
                                    {
                                        const uploadTask = imagesRef.put(file)
                                        uploadTask.on('state_changed', 
                                        (snapshot) => {
                                            // Observe state change events such as progress, pause, and resume
                                            // Get task progress, including the number of bytes uploaded and the total number of bytes to be uploaded
                                            var progress = parseInt((snapshot.bytesTransferred / snapshot.totalBytes) * 100);
                                            document.querySelector('#progressBar').innerText = 'Upload is ' + progress + '% done. Please wait.'
                                        }, 
                                        (error) => {
                                            // Handle unsuccessful uploads
                                            
                                            console.log('Error uploading image')
                                            console.log(error)
                                            submitForm(defaultPicURL)
                                        }, 
                                        () => {
                                            // Handle successful uploads on complete
                                            // For instance, get the download URL: https://firebasestorage.googleapis.com/...
                                            uploadTask.snapshot.ref.getDownloadURL().then((downloadurl) => {
                                                submitForm(downloadurl)
                                            });
                                        }
                                        );
                                    }
                                    else{
                                        submitForm(defaultPicURL)
                                    }
                            }

                            function submitForm(downloadURL) {
                                const form = document.querySelector('form')
                                const imageInput = document.createElement('input')
                                imageInput.value = downloadURL
                                imageInput.name = 'imageURL'
                                imageInput.hidden = true
                                form.append(imageInput)
                                const imageID = document.createElement('input')
                                imageID.value = imageName
                                imageID.name = 'imageID'
                                imageID.hidden = true
                                form.append(imageID)
                                form.submit()
                            }

                            document.querySelector('#btnSaveTestimonial').addEventListener('click', () => {
                                const testiName = document.querySelector('#testimonialName').value
                                var imagesRef = storage.ref().child('testimonials/' + imageName);
                                 uploadImage(imagesRef)
                            })
                        </script>
                    </div>