<% layout('/template/adminBoilerplate') -%>
 
                    <h1 style="margin-top: 200px;" class="text-center">Welcome! <%=userRecord.email %>
                    </h1>
                    <h5 class="text-center mt-5"><a class="btnSignOut" style="cursor: pointer;">Sign Out</a> if you are
                        trying to
                        access the user website.</h5>