<% layout('/template/boilerplate') -%>
 <div style="height: 80vh;">
        <h1 style="margin-top: 200px;" class="text-center">Congratulations!
        </h1>
        <h5 class="text-center my-5 px-4"> Your details will be verified by our team and your certificate will be sent on email</h5>
        <h5 class="text-center px-4">If you do not receive a certificate within the next week, do verify that you have completed all of the lectures and that all your tests have been graded, and then write to us</>

    </div>