<% layout('./template/boilerplate') -%>
                    <div>
                        <h4 style="margin: 400px 0 200px; color: white; text-align: center;">
                            <%= message %>
                                <br><br><br><a href="<%= devFun %>/"
                                    style="text-align: center; padding-top: 40px; text-decoration: underline;">Go
                                    back
                                    to home</a>
                        </h4>
                    </div>