<% layout('/template/boilerplate') -%>
 
                    <div class="pageHead">
                        <h3>FAQ</h3>

                        <div class="faqContainer">
                            <div class="faq">
                                <div class="question">Can I apply for a refund? </div>
                                <div class="answer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
                                    itaque amet quos cum ipsum fugiat reiciendis eveniet, odio tenetur iste? Quisquam
                                    temporibus, saepe commodi aliquid rerum sit aliquam dicta ipsa!</div>
                            </div>
                            <div class="faq">
                                <div class="question">Can I apply for a refund? </div>
                                <div class="answer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
                                    itaque amet quos cum ipsum fugiat reiciendis eveniet, odio tenetur iste? Quisquam
                                    temporibus, saepe commodi aliquid rerum sit aliquam dicta ipsa!</div>
                            </div>
                            <div class="faq">
                                <div class="question">Can I apply for a refund? </div>
                                <div class="answer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
                                    itaque amet quos cum ipsum fugiat reiciendis eveniet, odio tenetur iste? Quisquam
                                    temporibus, saepe commodi aliquid rerum sit aliquam dicta ipsa!</div>
                            </div>
                            <div class="faq">
                                <div class="question">How can I access my course? </div>
                                <div class="answer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
                                    itaque amet quos cum ipsum fugiat reiciendis eveniet, odio tenetur iste? Quisquam
                                    temporibus, saepe commodi aliquid rerum sit aliquam dicta ipsa!</div>
                            </div>
                            <div class="faq">
                                <div class="question">How can I access my course? </div>
                                <div class="answer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
                                    itaque amet quos cum ipsum fugiat reiciendis eveniet, odio tenetur iste? Quisquam
                                    temporibus, saepe commodi aliquid rerum sit aliquam dicta ipsa!</div>
                            </div>
                            <div class="faq">
                                <div class="question">How can I access my course? </div>
                                <div class="answer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
                                    itaque amet quos cum ipsum fugiat reiciendis eveniet, odio tenetur iste? Quisquam
                                    temporibus, saepe commodi aliquid rerum sit aliquam dicta ipsa!</div>
                            </div>
                            <div class="faq">
                                <div class="question">Where can I download the resources? </div>
                                <div class="answer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
                                    itaque amet quos cum ipsum fugiat reiciendis eveniet, odio tenetur iste? Quisquam
                                    temporibus, saepe commodi aliquid rerum sit aliquam dicta ipsa!</div>
                            </div>
                            <div class="faq">
                                <div class="question">Where can I download the resources? </div>
                                <div class="answer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
                                    itaque amet quos cum ipsum fugiat reiciendis eveniet, odio tenetur iste? Quisquam
                                    temporibus, saepe commodi aliquid rerum sit aliquam dicta ipsa!</div>
                            </div>
                            <div class="faq">
                                <div class="question">Where can I download the resources? </div>
                                <div class="answer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
                                    itaque amet quos cum ipsum fugiat reiciendis eveniet, odio tenetur iste? Quisquam
                                    temporibus, saepe commodi aliquid rerum sit aliquam dicta ipsa!</div>
                            </div>


                        </div>

                        <div class="cta">
                            <a href="<%= devFun %>/getInTouch"><button>Apply</button></a>
                        </div>



                    </div>