<% layout('/template/boilerplate') -%>
 

                    <div class="getInTouchContainer">
                        <div class="pageHead">
                            <h3>About Navin Shetty</h3>
                            <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis ut dolor impedit ea
                                dignissimos consequatur hic necessitatibus quis, saepe quidem unde assumenda animi atque
                                qui
                                repellendus explicabo quaerat, alias recusandae!
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, eius temporibus porro
                                aliquid
                                velit sequi omnis dolores reprehenderit provident accusamus accusantium nostrum quae
                                corrupti
                                iusto sed suscipit? Impedit, maxime exercitationem.</p>
                            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, eius temporibus porro
                                aliquid
                                velit sequi omnis dolores reprehenderit provident accusamus accusantium nostrum quae
                                corrupti
                                iusto sed suscipit? Impedit, maxime exercitationem.</p>
                            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, eius temporibus porro
                                aliquid
                                velit sequi omnis dolores reprehenderit provident accusamus accusantium nostrum quae
                                corrupti
                                iusto sed suscipit? Impedit, maxime exercitationem.</p>

                            <div class="cta">
                                <a href="<%= devFun %>/getInTouch "><button>Get in Touch</button></a>
                            </div>
                        </div>
                        <div class="img">
                            <img src="https://images.pexels.com/photos/2832382/pexels-photo-2832382.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                                alt="" srcset="">
                        </div>
                    </div>